button{
    margin-top: 6px;
}

.wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    top: 200px;
    background: gray;
    text-align: center;
    padding: 13px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    background-image: url(bg.jpg);
}