table, th , td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
#table2{
  margin : 150px;
}

.wrapper {
  padding: 10px;
  top: 100px;
  position: absolute;
  width: 600px;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  background-image: url(bg.jpg);
}

.line{
  display: flex;
}
.coll {
  padding-left: 5px;
  flex: 1 1 33%;
}

.h2{
  font-size: 24px;
  width: 100%;
  text-align: center;
}

.h3 {
  font-size: 18px;
}

.coll:not(.h3) {
  padding-left: 20px;
  border-bottom: 1px dotted black;
}

.wrapper > button{
  margin-top: 15px;
}

.popup{
  padding: 10px;
  position: absolute;
  top: 100px;
  background-image: url(bg.jpg);
  z-index: 4;
  left: 50%;
  width: 300px;
  transform: translateX(-50%);
  border: 1px solid black;
  box-shadow: 2px 2px 2px gray;
  display: flex;
  flex-wrap: wrap;
}

img{
  color: blue;
}

.popup label:not(.h3) {
  flex: 1 1 33%;
}
.buttWrapper {
  flex: 1;
  justify-content: center;
  text-align: center;
}
.buttWrapper button {
  
}