 <ng-container>
  <table mat-table id ="table">
      <tr>
          <th>Film neve</th>
          <th>Főszereplő</th>
          <th>rendező</th>
        </tr>
      <tr *ngFor="let movie of movies; let i = index" (click)="setSelected(i)" >
          <td>{{ movie.name }}</td>
        <td>{{ movie.mainActors }}</td>
        <td>{{ movie.director }}</td>
      </tr>
  </table>
  <div *ngIf="isAdmin === false">
    <button mat-flat-button  color="primary"  routerLink="/createMovie">Film felvétele</button>
  </div>
  </ng-container>

  <ng-container *ngIf="selected === true">
  <table mat-table id="table2"  >
      <tr>
          <th>Film neve</th>
          <th>Főszereplő</th>
          <th>rendező</th>
     </tr>
     <tr>
        <td>{{ selectedMovie.name }}</td>
        <td>{{ selectedMovie.mainActors }}</td>
        <td>{{ selectedMovie.director }}</td>
      </tr>
      <div>
        <button mat-flat-button  color="primary" (click)="deleteMovie()" >Film törlése</button>
      </div>
  </table>
</ng-container >


