
<div class="container">
        <div class="row">
          <div class="col">
              <table id ="table">
                <tr>
                  <th>foglalas azonosito</th>
                  <th>szék sora</th>
                  <th>szék oszlopa</th>
                </tr>
                <!-->tr *ngFor="let re of reservationList; let i = index" (click)="setSelected(i)" >
                    <td>{{ re.id }}</td>
                    
                 
                  <td  *ngFor="let re of  re.chair">{{re.cloumn }}</td>
                  <td  *ngFor="let re of  re.chair">{{re.row }}</td>
                </tr-->
              </table>
          
          </div>
        </div>
      </div>Hello ez itt a foglalás
     