
.wrapper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 600px;
    top: 200px;
    background: gray;
    text-align: center;
    padding: 13px;
    flex-wrap: wrap;
    display: flex;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    background-image: url(bg.jpg);
    justify-content: center;
}

.wrapper > mat-form-field {
    flex: 1 1 50%;
}